<h1> Events </h1>

<!-- Displaying Calendar with Events -->
<%= month_calendar events: @events do |date, events| %>
  <%= date %>
    <% events.each do |event| %>
    <div>
      <%= link_to event.title, event.url %> on <%= event.time.localtime.strftime('%a %d %b') %> @ <%= event.time.localtime.strftime('%I:%M %p') %>
    </div>
  <% end %>
<% end %>

<!-- Search Bar -->
<form role="form">
  <div class="form-group">
    <input type="text" class="form-control empty" id="search" placeholder="&#xF002; Search"/>
  </div>
</form>

<!-- Search Bar to include Font Awesome Search Icon -->
<script>
$('#iconified').on('keyup', function() {
  var input = $(this);
  if(input.val().length === 0) {
      input.addClass('empty');
  } else {
      input.removeClass('empty');
  }
});
</script>

<!-- Event List: Load all but only show top 3 -->
<ul id="event-list">
  <% @events.each_with_index do |event, index| %>
  <% if index < 3 %>
    <li class='event-listing' data-date=<%= event.time %>>
    <%= link_to event.title, event.url %> on <%= event.time.localtime.strftime('%a %d %b') %> @ <%= event.time.localtime.strftime('%I:%M %p') %>
    </li>
    <% else %>
    <li class='event-listing' style="display:none">
      <%= link_to event.title, event.url %> on <%= event.time.localtime.strftime('%a %d %b') %> @ <%= event.time.localtime.strftime('%I:%M %p') %>
    </li>
    <% end %>
  <% end %>
</ul>

<!-- Search Filter Function -->
<script>
var filter = function() {
  $("#search").on("keyup", function() {
    var filter = $('#search').val();
    if ($('#search').val().length === 0) {
      $('#event-list li').hide();
      for (var i = 1; i < 4; i++) {
        $('#event-list > li:nth-child(' + i + ')').show();
      }
    } else {
      $("#event-list li").each(function() {
        // TODO [STRETCH]: Can we restrict this to top 3 as well?
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
          $(this).fadeOut();
        } else {
          $(this).show();
        }
      })
    }
  });
};
filter();
</script>
