<h1>News Articles:</h1>

<section class='search-section'>
  <% if @news && !@news.items.empty? %>
    <div class='container'>
      <% @news.items.each do |item| %>
        <div class='row'>
          <h4><%= link_to item.htmlTitle.html_safe, item.link %></h4>
          <div>
            <% if item['pagemap'] &&
                  item['pagemap']['cse_thumbnail'] &&
                  img = item.pagemap.cse_thumbnail.first %>
              <div class='col-sm-12'>
                <%= image_tag(img.src, width: '200px') %>
                <%= item.htmlSnippet.html_safe %>
              </div>
            <% else %>
              <%= item.htmlSnippet.html_safe %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class='container search-prev-next'>
      <div class='row text-center'>
        <% if @news.previous_page %>
          <%= link_to '<< Previous',
            news_index_path(q: params[:q], page: @news.previous_page),
            class: 'btn' %>
        <% end %>
        <% @news.pages.times do |i| %>
          <%= link_to i + 1,
            news_index_path(q: params[:q], page: i+1),
            class: 'btn btn-page' %>
        <% end %>
        <% if @news.next_page %>
          <%= link_to 'Next >>',
            news_index_path(q: params[:q],
                        page: @news.next_page),
            class: 'btn' %>
        <% end %>
      </div>
    </div>
  <% else %>
    <h4>No results</h4>
  <% end %>
</section>
