<div id="organization-details" data_id="<%= @organization.id %>">

  <div class="row">

    <div class="col-md-3 col-md-offset-1 text-center">
      <%= image_tag @organization.logo.url %>

      <table class="table">
        <tbody>
          <tr>
            <td><b>Team Size</b></td>
            <td><%= @organization.employee_count %></td>
          </tr>
          <tr>
            <td><b>Tech Team</b></td>
            <td><%= @organization.tech_team_size %></td>
          </tr>
          <tr>
            <td><b>Tech Stack</b></td>
            <td>
              <% @organization.tech_stacks.each do |tech| %>
                <span>
                  <%= tech.name %>
                </span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- <div class="small_map">
      <%= render "/organizations/map" %>
    </div> -->

    <div class="col-md-6 org-info">
      <h1><%= link_to @organization.name, "http://#{@organization.website}" %></h1>

      <% if @organization.images.any? %>
        <%= render "/organizations/image_carousel" %>
      <% end %>

      <p><%= @organization.overview %></p>

    </div>

  </div>
  <div style="display: inline">
    Placeholder for map
  </div>



  <div><%= link_to "Claim this organization", new_claim_organization_path({organization: @organization}) %></div>

</div>

<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script> -->
