<div id="organization-details" data_id="<%= @organization.id %>">

  <div class="row">

    <div class="col-md-3 col-md-offset-1 text-center">
      <%= image_tag @organization.logo.url %>

      <table class="table">
        <tbody>
          <tr>
            <td><b>Team Size</b></td>
            <td><%= @organization.employee_count %></td>
          </tr>
          <tr>
            <td><b>Tech Team</b></td>
            <td><%= @organization.tech_team_size %></td>
          </tr>
          <tr>
            <td><b>Tech Stack</b></td>
            <td>
              <% @organization.tech_stacks.each do |tech| %>
                <span>
                  <%= tech.name %>
                </span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- <div class="small_map">
      <%= render "/organizations/map" %>
    </div> -->

    <div class="col-md-6 org-info">
      <h1><%= link_to @organization.name, "http://#{@organization.website}" %></h1>

      <% if @organization.images.any? %>
        <%= render "/organizations/image_carousel" %>
      <% end %>

      <p><%= @organization.overview %></p>

    </div>

  </div>
  <div style="display: inline">
    Placeholder for map
  </div>

  <div class="container col-md-6">
    <a class="twitter-timeline" href="https://twitter.com/<%= @organization.twitter %>" >Tweets by <%= @organization.name %></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>


  <div><%= link_to "Claim this organization", new_claim_organization_path({organization: @organization}) %></div>



</div>

<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script> -->
