<div class="container">
  <div style="display: inline">
    <% if @organization.logo.present? %>
      <%= image_tag @organization.logo.url %>
    <% end %>
  </div>
  <div style="display: inline">
    <h2><%= @organization.name %></h2>
    <span><%= @organization.overview %></span><br />
    <div>Employee Count : <%= @organization.employee_count %></div>
    <div>Team Size : <%= @organization.tech_team_size %></div>
    <div>Tech Stack : <% @organization.tech_stacks.each do |tech| %>
                        <span><%= tech.name %></span>
                      <% end %>
    </div>
  </div>
  <div style="display: inline">
    Placeholder for map
  </div>
</div>
