<div id="organization-details" data_id=<%= @organization.id %>>
  <h1><%= @organization.name %></h1>
  <%= image_tag @organization.logo.url %>
  <a href = <%= "http://#{@organization.website}" %>><%= @organization.website %></a>
  <p><%= @organization.overview %></p>
  <p>Team size <%= @organization.employee_count %></p>
  <p>Tech team <%= @organization.tech_team_size %></p>
  <p>Tech stack
  <%# @organizations.tech_stacks.each do |tag| %>
    <span>
      <%#= tag.name%>
    </span>
  <%# end %>
  </p>
  <p><%= @organization.twitter %></p>
</div>

<div id="small_map">
  <%= render "/organizations/map" %>
</div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
